/*=== General ===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*== body ==*/
body {
    font-family: 'Open sans', sans-serif;
    line-height: 1.6;
    color: #1d1d1d;
    background-color: white;
}

h1, h2, h3 {
    font-family: 'playfait Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*== container ==*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/*== header ==*/
header {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}

.header-contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.links {
    display: flex;
    gap: 1.5rem;
}

.links a {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #eee;
    border-radius: 5px;
}

.commande-btn {
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 4px;
}

.commande-btn:hover {
    background-color: #ff4c4c;
}

/*== section hero ==*/
.hero {
    border-color: white;
    padding: 4rem 0;
}

.hero-contenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.hero-txt {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.hero-txt h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-txt p {
    margin-bottom:1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.hero-img {
    flex: 1;
    min-width: 300px;
}

.bouttons {
    display: flex;
    gap: 1rem;
}

.btn-principal,
.btn-secondaire {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.btm-principal {
    background-color: #007bff;
    color: white;
}

.btn-principal:hover {
    background-color: #6c757d;
    color: white;
}

.btn-secondaire:hover {
    background-color: #495057;
}

.hero-img {
    flex: 1;
    min-width: 300px;
}

.hero-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*-- temoignages --*/

.temoignages {
    background-color: #6c757d;
    padding: 4rem 1rem;
    text-align: center;
}

.temoignages h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'playfair Display', serif;
}

.temoignages p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 2rem;
}

.cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.carte {
    background-color: white;
    padding: 1.5rem;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb( rgb(108, 108, 110));
    text-align: left;
}

.carte p {
    margin-bottom: 1rem;
    font-style: italic;
}

.carte span {
    font-weight: ;
}